<div class="container">
    <h2 class="text-center">Formulario de Documentos</h2>
    <form class="formulario">
      <div class="form-group">
        <input type="text" id="name" class="form-control" name="name" placeholder="Nombre de contacto">
      </div>
      <div class="form-group">
        <input type="email" id="email" class="form-control"  name="email" placeholder="e-mail">
      </div>
      <div class="form-group">
        <input type="phone" id="email" class="form-control"  name="email" placeholder="Numero de contacto">
      </div><br>
      <div class="form-group">
        <label for="pdf">copia escritura:</label><br>
        <input type="file" id="pdf1" class="form-control"  accept="application/pdf">
      </div><br>
      <div class="form-group">
        <label for="pdf">certificado de tradición y libertad:</label><br>
        <input type="file" id="pdf2" class="form-control"  accept="application/pdf">
      </div><br>
      <div class="form-group">
        <label for="pdf">Paz y salvo:</label><br>
        <input type="file" id="pdf3" class="form-control"  accept="application/pdf">
      </div><br>
      <div class="form-group">
        <label for="pdf">copia cedula de Comprador (es):</label><br>
        <input type="file" id="pdf4" class="form-control"  accept="application/pdf">
      </div><br>
      <div class="form-group">
        <label for="pdf">copia cedula de Vendedor (es):</label><br>
        <input type="file" id="pdf5" class="form-control"  accept="application/pdf">
      </div><br>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  

